In [3]:
import requests
import pandas as pd
import sqlite3
import json

### Function to get the url API for Authors and return a the response as json

In [4]:
def get_author_result(author):
    result = requests.get(f'https://openlibrary.org/search/authors.json?q={author}')
    if result.status_code == 200:
        return result.json()
    else:
        raise Exception('Error downloading API response')

### Function to get the url API for Titles and return a the response as json

In [5]:
def get_title_result(title):
    result = requests.get(f'https://openlibrary.org/search.json?title={title}')
    if result.status_code == 200:
        return result.json()
    else:
        raise Exception('Error downloading API response')

In [23]:
r = get_author_result('Harper Lee ')

In [24]:
r

{'numFound': 9,
 'start': 0,
 'numFoundExact': True,
 'docs': [{'key': 'OL498120A',
   'type': 'author',
   'name': 'Harper Lee',
   'birth_date': '28 April 1926',
   'death_date': '19 February 2016',
   'top_work': 'To Kill a Mockingbird',
   'work_count': 27,
   'top_subjects': ['Race relations',
    'Fathers and daughters',
    'Alabama',
    'Southern states, fiction',
    'Southern States',
    'Fiction',
    'Scout Finch (Fictitious character)',
    'Fathers and daughters, fiction',
    'Atticus Finch (Fictitious character)',
    'Social change'],
   '_version_': 1728894624643153928},
  {'key': 'OL8058916A',
   'type': 'author',
   'name': 'Lee Harper',
   'top_work': 'Complete Illustrated Encyclopedia of Cats and Kittens',
   'work_count': 7,
   'top_subjects': ['Protected DAISY',
    'Fairy tales',
    "Children's fiction",
    'Cats',
    'Accessible book'],
   '_version_': 1715127014177898505},
  {'key': 'OL6538404A',
   'type': 'author',
   'name': 'Lee Harper',
   'birth_date': '1960',
   'top_work': 'Snow! Snow! Snow!',
   'work_count': 4,
   'top_subjects': ['Protected DAISY',
    'Accessible book',
    'Juvenile fiction',
    'Fiction',
    'Cats',
    'Snow',
    'Sledding',
    'Picture books for children',
    'Pictorial works',
    'Pets'],
   '_version_': 1715122008532975625},
  {'key': 'OL230192A',
   'type': 'author',
   'name': 'Nancy Lee Harper',
   'top_work': "Performing Pianist's Guide to Fingering",
   'work_count': 4,
   'top_subjects': ['Composers, biography',
    'Composers',
    'Biography',
    'Bibliography',
    'Portugal',
    'Piano music, bibliography',
    'Piano music',
    'Philosophy',
    'Music, portuguese',
    'Music, instruction and study'],
   '_version_': 1715106402713731076},
  {'key': 'OL458664A',
   'type': 'author',
   'name': 'Linda Lee Harper',
   'top_work': 'A Failure of Loveliness (The William & Kingman Page Chapbook Award series)',
   'work_count': 4,
   'top_subjects': ['American poetry'],
   '_version_': 1715114271241666567},
  {'key': 'OL594140A',
   'type': 'author',
   'name': 'Donna Lee Harper',
   'top_work': 'The Diary of Lillie Langtry',
   'work_count': 2,
   'top_subjects': ['Lillie Langtry (1853-1929)', 'Fiction'],
   '_version_': 1715119615811518465},
  {'key': 'OL5152389A',
   'type': 'author',
   'name': 'Li Ann Harper Lee',
   'birth_date': '1939',
   'top_work': 'Descendants of John C. Harper and Sarah Hurst',
   'work_count': 2,
   'top_subjects': ['Family',
    'Texas',
    'Kimbrough family',
    'John N. Kimbrough (ca. 1735-ca. 1799)',
    'John C. Harper (1787-1849)',
    'Harper family',
    'Genealogy',
    'Alabama'],
   '_version_': 1715116958475616263},
  {'key': 'OL6818667A',
   'type': 'author',
   'name': 'Lois Lee Harper',
   'top_work': 'Stier and Williams Funeral Home Records, Aurora, Indiana, 1910-1970',
   'work_count': 1,
   'top_subjects': ['Nonfiction', 'History'],
   '_version_': 1715123048232779777},
  {'key': 'OL5423993A',
   'type': 'author',
   'name': 'Lee Anne Harper-Femson',
   'birth_date': '1957',
   'top_work': "Nurse practitioners' role satisfaction",
   'work_count': 1,
   'top_subjects': ['Ontario', 'Nurse practitioners', 'Job satisfaction'],
   '_version_': 1715117502959190022}]}

In [25]:
key_list = ['key', 'name', 'birth_date', 'top_work', 'work_count']

In [26]:
for key in key_list:
    print(r['docs'][0][key])
    full_name = r['docs'][0]['name'].split()
f_name = full_name[0]
l_name = full_name[1]
print(f'{f_name}, {l_name}')

OL498120A
Harper Lee
28 April 1926
To Kill a Mockingbird
27
Harper, Lee

## Author DB CSV and DataFrame will use the key in the json response as a primary key 

### author_id | first_name | last_name |  birth_date | top_work | work_count

"""CREATE TABLE authors (
    author_id text PRIMARY KEY,
 	first_name text NOT NULL,
 	last_name text NOT NULL,
 	birth_date text NOT NULL,
 	top_work text NOT NULL,
 	work_count integer NOT NULL
 	)"""

## Books DB CSV and DataFrame will use the key in the json responce as a primary key

### book_id | title | author_fname | author_lname | first_publish_year |

"""CREATE TABLE books (
     book_id text PRIMARY KEY,
     title text NOT NULL,
     author_fname text NOT NULL,
     author_lname text NOT NULL,
     first_publish_year text NOT NULL
     )"""

## Bridge table will use Author key and Book key to link book and author

### author_id | book_id

"""CREATE TABLE authors_books (
     author_id text NOT NULL,
     book_id text NOT NULL,
     PRIMARY KEY (author_id, book_id),
     FOREIGN KEY(author_id) REFERENCES authors(author_id),
     FOREIGN KEY(book_id) REFERENCES books(book_id)
     )"""

## Create DB and tables for the exercise

In [ ]:
conn = sqlite3.connect('author_books.db')
c = conn.cursor()

In [ ]:
c.execute("""CREATE TABLE authors (
    author_id text PRIMARY KEY,
    first_name text NOT NULL,
    last_name text NOT NULL,
    birth_date text NOT NULL,
    top_work text NOT NULL,
    work_count integer NOT NULL
    )""")

c.execute("""CREATE TABLE books (
    book_id text PRIMARY KEY,
    title text NOT NULL,
    author_fname text NOT NULL,
    author_lname text NOT NULL,
    first_publish_year text NOT NULL
    )""")

c.execute("""CREATE TABLE authors_books (
    author_id text NOT NULL,
    book_id text NOT NULL,
    PRIMARY KEY (author_id, book_id),
    FOREIGN KEY(author_id) REFERENCES authors(author_id),
    FOREIGN KEY(book_id) REFERENCES books(book_id)
    )""")

QUERY to union the result of the 2 tables autors and books using the authors_books table
 
c.execute("""
    SELECT a.author_id , b.book_id , b.title, a.first_name, a.last_name
    FROM authors as a
    JOIN authors_books ON a.author_id = authors_books.author_id
    JOIN books as b ON b.book_id = authors_books.book_id
""")

QUERY to insert into the authors table
c.execute("""INSERT INTO authors VALUES( ?,?,?,?,?,?)""",(author_id, first_name, last_name, birth_date, top_work, work_count))

QUERY to insert into the books table
c.execute("""INSERT INTO books VALUES(?,?,?,?,?)""",(book_id, title, author_fname, author_lname, first_publish_year))

QUERY to insert into the authors_books table
c.execute("""INSERT INTO <table> VALUES(?,?)""",(author_id, book_id))

Converting sql query to a DataFrame for converting it to a CSV file 

df = pd.read_sql_query(f''SELECT * from {table}, conn)