In [3]:
import requests
import pandas as pd
import sqlite3
import json

### Function to get the url API for Authors and return a the response as json

In [4]:
def get_author_result(author):
    result = requests.get(f'https://openlibrary.org/search/authors.json?q={author}')
    if result.status_code == 200:
        return result.json()
    else:
        raise Exception('Error downloading API response')

### Function to get the url API for Titles and return a the response as json

In [5]:
def get_title_result(title):
    result = requests.get(f'https://openlibrary.org/search.json?title={title}')
    if result.status_code == 200:
        return result.json()
    else:
        raise Exception('Error downloading API response')

## Author DB CSV and DataFrame will use the key in the json response as a primary key 

### author_id | first_name | last_name |  birth_date | top_work | work_count

"""CREATE TABLE authors (
    author_id text PRIMARY KEY,
 	first_name text NOT NULL,
 	last_name text NOT NULL,
 	birth_date text NOT NULL,
 	top_work text NOT NULL,
 	work_count integer NOT NULL
 	)"""

## Books DB CSV and DataFrame will use the key in the json responce as a primary key

### book_id | title | author_fname | author_lname | first_publish_year |

"""CREATE TABLE books (
     book_id text PRIMARY KEY,
     title text NOT NULL,
     author_fname text NOT NULL,
     author_lname text NOT NULL,
     first_publish_year text NOT NULL
     )"""

## Bridge table will use Author key and Book key to link book and author

### author_id | book_id

"""CREATE TABLE authors_books (
     author_id text NOT NULL,
     book_id text NOT NULL,
     PRIMARY KEY (author_id, book_id),
     FOREIGN KEY(author_id) REFERENCES authors(author_id),
     FOREIGN KEY(book_id) REFERENCES books(book_id)
     )"""

## Create DB and tables for the exercise

In [ ]:
conn = sqlite3.connect('author_books.db')
c = conn.cursor()

In [ ]:
c.execute("""CREATE TABLE authors (
	author_id text PRIMARY KEY,
	first_name text NOT NULL,
	last_name text NOT NULL,
	birth_date text NOT NULL,
	top_work text NOT NULL,
	work_count integer NOT NULL
	)""")

c.execute("""CREATE TABLE books (
    book_id text PRIMARY KEY,
    title text NOT NULL,
    author_fname text NOT NULL,
    author_lname text NOT NULL,
    first_publish_year text NOT NULL
    )""")

c.execute("""CREATE TABLE authors_books (
    author_id text NOT NULL,
    book_id text NOT NULL,
    PRIMARY KEY (author_id, book_id),
    FOREIGN KEY(author_id) REFERENCES authors(author_id),
    FOREIGN KEY(book_id) REFERENCES books(book_id)
    )""")

QUERY to union the result of the 2 tables autors and books using the authors_books table
 
c.execute("""
    SELECT a.author_id , b.book_id , b.title, a.first_name, a.last_name
    FROM authors as a
    JOIN authors_books ON a.author_id = authors_books.author_id
    JOIN books as b ON b.book_id = authors_books.book_id
""")

QUERY to insert into the authors table
c.execute("""INSERT INTO <table> VALUES( ?,?,?,?,?,?)""",(author_id, first_name, last_name, birth_date, top_work, work_count))

QUERY to insert into the books table
c.execute("""INSERT INTO <table> VALUES(?,?,?,?,?)""",(book_id, title, author_fname, author_lname, first_publish_year))

QUERY to insert into the authors_books table
c.execute("""INSERT INTO <table> VALUES(?,?)""",(author_id, book_id))

Converting sql query to a DataFrame for converting it to a CSV file 

df = pd.read_sql_query(f''SELECT * from {table}, conn)